<div *ngIf="character">
  <h2>{{character.name | uppercase}} Details</h2>
  <dl>
    <dt>Birth Year</dt>
    <dd>{{character.birth_year}}</dd>

    <dt>Height</dt>
    <dd>{{character.height}}</dd>

    <dt>Gender</dt>
    <dd>{{character.gender}}</dd>

    <dt>Hair Color</dt>
    <dd>{{character.hair_color}}</dd>

    <dt>Skin Color</dt>
    <dd>{{character.skin_color}}</dd>

    <dt>Eye Color</dt>
    <dd>{{character.eye_color}}</dd>

    <dt>Mass</dt>
    <dd>{{character.mass}}</dd>

    <dt>Home World</dt>
    <dd>{{character.homeworld}}</dd>
  </dl>
  <label for="isFavorite">Is My Favorite</label>
  <input type="checkbox" id="isFavorite" [(ngModel)]="character.isFavorite" />
</div>
