<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Height</th>
      <th>Birth Year</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$ | async">
      <td>
        <span *ngIf="item.isFavorite" class="heart">&#9829;</span>
        {{item.name}}
      </td>
      <td>{{item.gender}}</td>
      <td>{{item.height}}</td>
      <td>{{item.birth_year}}</td>
      <td>
        <button (click)="onSelectCharacter(item)">Details</button>
      </td>
    </tr>
  </tbody>
</table>

</div>
<div>
  <app-star-war-character-detail [character]="selectedCharacter"></app-star-war-character-detail>
</div>
<router-outlet></router-outlet>
